.grid {
  display: flex;                       /* establish flex container */
  flex-wrap: wrap;                     /* enable flex items to wrap */
  justify-content: space-around;
  width: 500px;
  height: 500px;

}
.cell {
  flex: 0 0 32%;                       /* don't grow, don't shrink, width */
  height: 160px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #999;
  font-size: 100px;
}
