<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<app-yearlychart></app-yearlychart>
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<app-recent-table></app-recent-table>
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
