<form [formGroup]="baseInfoForm" (ngSubmit)="doChangeStep('forward')">
    <!-- <div>
      <label for="success">
        Success
      </label>
      <input id="success" type="text" formControlName="success">
    </div> -->
  
    <div>
      <label for="base">
        Base
      </label>
      <input id="base" type="text" formControlName="baseInfo">
    </div>

<!-- 
    <div>
    <label for="rates">
        Rates
    </label>
    <input id="base" type="text" formControlName="base">
    </div> --> 
  
    <button class="button" type="submit">Next</button>
</form>
